body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.AdminNav {
    color: white;
    background-color: white;
    width: 100%;
    z-index: 99;
    position: relative;
    top: 1px;
    height: 0px;
    padding-top: 10px;
}

.AdminNavContainer {
    background-color: transparent;
    width: 20%;
    float: right;
    position: relative;
    bottom: 70px;
    right: 30px;
    list-style-type: none;
}

.AdminNavContainer li {
    display: inline-block;
    margin-left: 20px;
}

div.menu {
    float: right;
    border-color: black;
    display: none;
    position: relative;
    left: 89.2%;
    top: 100px;
    width: 130px;
    height: 80px;
    z-index: 99;
    position: fixed;
}

.menu li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    color: white;
}

a:hover {
    color: rgb(51, 25, 25);
}

#menuImg {
    float: right;
    border-color: black;
    position: relative;
    bottom: 20px;
    right: 9px;
}

body {
    background-color: white;
}

nav {
    background-color: rgb(30, 31, 49);
    height: 100px;
    color: white;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    margin-left: -8px;
    z-index: 99;
}

.reports {
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#views,
#categories {
    width: 66%;
    height: 66%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#countries {
    width: 59.2%;
    height: 59.2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reportsHead {
    color: rgb(227, 227, 233);
    margin-bottom: -8px;
}

.users .enabler:hover {
    color: white;
}

.users .enabler {
    color: blue;
}

#leftNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

#leftNav li {
    display: inline;
    font-size: 40px;
    margin-left: 33px;
}

nav a {
    text-decoration: none;
}

#menu li {
    list-style-type: none;
}

.usersTable {
    caption-side: top;
}

caption {
    font-size: 25px;
    margin-bottom: 10px;
    color: blue;
}

.graphs {
    border-color: rgb(30, 31, 49);
    border-width: 4px;
    border-style: solid;
    margin-bottom: 5px;
    padding-left: 200px;
    margin-right: 155px;
    margin-left: 155px;
    background-color: rgb(134, 104, 141);
}

.leftSidebar {
    float: left;
    position: relative;
    left: 5px;
}

.leftSidebar li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.leftSidebar a {
    text-decoration: none;
}

.graphs img {
    border-color: rgb(30, 31, 49);
    border-width: 2px;
    border-style: solid;
}

body {
    margin-top: 100px;
}

#reportSubmit,
#searchSubmit {
    background-color: rgb(134, 104, 141);
    border: none;
    color: white;
    margin-top: 7px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 5px;
}

#reportSubmit:hover,
#searchSubmit:hover {
    color: blue;
}

.enabledStatus:hover {
    color: white;
}

.enabledStatus {
    color: blue;
}