body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div.menu{
    float: right;
    border-color: black;
    display: none;
    position:relative;
    left: 135px;
    top: 33.5px;
    background-color: rgb(134, 104, 141);
    width:130px;
    height:80px;
}
a{
    color:white;
}
a:hover{
    color: rgb(51, 25, 25);
}

#menuImg{
    float: right;
    border-color: black;
    position: relative;
    bottom: 20px;
    right: 9px;
}
body{
    background-color: rgb(98, 96, 124);
}
nav{
    background-color: rgb(30, 31, 49);
    height:100px;
    color:white;
    position: fixed;
    width: 100%;
    overflow:hidden;
    top: 0;
    margin-left: -8px;
    z-index: 99;
}
.reports{
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(98, 96, 124);
    padding-top: 10px;
    padding-bottom: 10px;
}
#views,#categories{
    width: 66%;
    height: 66%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#countries{
    width: 59.2%;
    height: 59.2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reportsHead{
    color:rgb(227, 227, 233);
}
.users .enabler:hover{
    color: white;
}
.users .enabler{
    color: blue;
}
#leftNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  #leftNav li{
    display: inline;
    font-size: 40px;
    margin-left:33px;
  }
  nav a{
    text-decoration: none;
  }
  #menu li{
    list-style-type: none;
  }
  caption{
      font-size: 25px;
      margin-bottom: 10px;
  }
  .graphs{
      border-color: rgb(30, 31, 49);
      border-width: 4px;
      border-style: solid;
      margin-bottom:5px;
      padding-left: 200px;
      margin-right: 155px;
      margin-left: 155px;
      background-color: rgb(134, 104, 141);
  }
  .leftSidebar{
      float:left;
      position: relative;
      right: 17px;
  }
  .leftSidebar li{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .leftSidebar a{
    text-decoration: none;
  }
  .graphs img{
    border-color: rgb(30, 31, 49);
    border-width: 2px;
    border-style: solid;
  }
  body{
      margin-top: 100px;
  }